/* Tarjeta de receta */
.card-receta {
    /* Diseño de columna */
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    /* Estilos visuales */
    background-color: var(--color-rojo);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* Tamaño y espaciado */
    width: 20em;
    margin: 1em;
    /* Efecto de transición */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* resto del estilo */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

/* Efecto hover en la tarjeta */
.card-receta:hover {
    /* Movimiento hacia arriba */
    transform: translateY(-5px);
    /* Sombra más intensa */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Imagen de la receta */
.receta-image {
    /* Tamaño y ajuste */
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Contenido de la receta */
.receta-content {
    /* Espaciado y alineación */
    padding: 1rem;
    text-align: center;
}

/* Título de la receta */
.receta-title {
    /* Tamaño y estilo de fuente */
    font-size: 1.5rem;
    font-weight: bold;
    /* Espaciado */
    margin: 0.5rem 0;
}

/* Autor de la receta */
.receta-author {
    /* Tamaño de fuente y espaciado */
    font-size: 1rem;
    margin: 0.5rem 0;
}

/* Calificación de la receta */
.receta-rating {
    /* Tamaño de fuente y espaciado */
    font-size: 1rem;
    margin: 0.5rem 0;
}

/* Efecto hover en el botón */
.receta-button:hover {
    /* Cambio de color de fondo */
    background-color: var(--color-amarillo);
}


/* Overlay covering the card */
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    z-index: 1;
}

/* Content inside the overlay */
.overlay-content {
    text-align: center;
    padding: 1rem;
}

.card-receta {
    position: relative; /* Required for overlay positioning */
}