.form-receta-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1;
    padding: 0 1em;
    flex-direction: column;

}
.form-receta {

    width: fit-content;
    margin: 2rem auto;
    max-width: 90vw;
    padding: 1.5rem;
    background-color: var(--color-rojo);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;

}


.form-receta div {
    margin-bottom: 1rem;
}

.form-receta label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;

}

.form-receta input,
.form-receta textarea {
    width: 95%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: white;
    color: black;

}

.form-receta input[type="file"] {
    padding: 0.3rem;
}



.form-receta button:hover {
    background-color: var(--color-amarillo);
}