.form-receta {
    width: 30%;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: var(--color-rojo);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    height: fit-content;
}

.form-receta div {
    margin-bottom: 1rem;
}

.form-receta label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;

}

.form-receta input,
.form-receta textarea {
    width: 95%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: white;
    color: black;

}

.form-receta input[type="file"] {
    padding: 0.3rem;
}

.form-receta button {
    display: block;
    width: 100%;
    padding: 0.7rem;
    background-color: var(--color-verde);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-receta button:hover {
    background-color: var(--color-amarillo);
}