/* Lista de recetas */
.recetas-list {
    /* Diseño de fila con saltos */
    display: flex;
    flex-wrap: wrap;
    /* Alineación al inicio */
    justify-content: start;
}

/* Título */
.title {
    /* Alineación y tamaño de fuente */
    text-align: center;
    font-size: 2rem;
}

/* Contenedor de lista de recetas */
.list-recetas-container {
    /* Diseño de columna */
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 2;
    /* Espaciado */
    padding: 0 2em;
    flex-direction: column;
}

/* Estilos para dispositivos móviles (max-width: 768px) */
@media (max-width: 768px) {
    /* Ajuste en la lista de recetas */
    .recetas-list {
        /* Diseño de columna */
        display: flex;
        flex-direction: column;
    }
}