@keyframes example {
  from {height: 50px;}
  to {height: 55px;}
}

.cancion {
    height: 50px; 
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 0.5rem 0;
    background-color: #D9D9D9;
    border-radius: 4px;
    font-size: 0.9rem;
    color: #585858;
    box-shadow: none;
    border: 3px solid #000000;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.cancion:hover {
    background-color: #726f6f;
    color: #000000;
    animation: example 0.2s forwards;
}

.cancion h3 {
    margin: 0;
    font-weight: normal;
    font-size: 1.7rem;
    text-align: center;
    color: inherit;
}