/* Estilos para el elemento main */
main {
    /* Margen y diseño */
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

/* Estilos para las secciones de canciones */
.cancionesIzq, .cancionesDer {
    /* Ancho y diseño */
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    /* Estilos de scroll */
    max-height: 82vh;
    overflow-y: auto;
    padding-right: 0.5rem;
}

/* Estilos para la barra de scroll */
.cancionesIzq::-webkit-scrollbar,
.cancionesDer::-webkit-scrollbar {
    /* Ancho de la barra */
    width: 8px;
}

.cancionesIzq::-webkit-scrollbar-thumb,
.cancionesDer::-webkit-scrollbar-thumb {
    /* Estilos del pulgar */
    background-color: #888;
    border-radius: 4px;
}

.cancionesIzq::-webkit-scrollbar-thumb:hover,
.cancionesDer::-webkit-scrollbar-thumb:hover {
    /* Estilos del pulgar al pasar el mouse */
    background-color: #555;
}

/* Estilos para el botón de mostrar canciones */
.btnMostrarCanciones {
    /* Posición y estilos */
    margin: 1rem auto;
    display: block;
    background-color: #4C4646;
    color: #FCEB00;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

.btnMostrarCanciones:hover {
    /* Estilos al pasar el mouse */
    background-color: #333;
}

/* Estilos para dispositivos móviles */
@media (max-width: 1060px) {
    /* Cambios en el diseño */
    main {
        flex-direction: column;
        align-items: center;
    }

    /* Ajustes en el reproductor */
    .reproductor {
        width: 100%;
        height: 50rem;
    }

    /* Ocultar secciones de canciones */
    .cancionesIzq, .cancionesDer {
        display: none;
    }

    /* Mostrar botón de mostrar canciones */
    .btnMostrarCanciones {
        display: block;
        width: 100%;
        margin: 1rem 0;
    }
}