.header-container {
    text-align: center;
    background-color: var(--color-rojo);
    min-width: 99vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-container h1 {

    flex-grow: 1;
    text-align: center;
}

.back-button {
    margin-left: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}

@media (max-width: 768px) {
    .header-container{
        min-width: 100vw;
    }

}